---
import '../assets/css/global.css';

const { frontmatter } = Astro.props;
const lang = frontmatter?.lang || 'en';
const hostname = Astro.url.hostname;
const metaTitle = frontmatter?.metaTitle || frontmatter?.title || 'Bytebase';
const metaDescription = frontmatter?.metaDescription || frontmatter?.description;
---
<!DOCTYPE html>
<html lang={lang}>
<head>
	<meta charset="UTF-8">
	{!hostname?.includes('bytebase.com') && <meta name="robots" content="noindex, nofollow" />}
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
	/>
	<title>{metaTitle}</title>
	<meta name="description" content={metaDescription} />
</head>
<body class="antialiased min-h-dvh">
	<slot />

	{hostname.includes('bytebase.com') && (
		<script>
			// @ts-ignore
			console.log('TODO: add analytics')
		</script>
	)}
</body>
</html>
