---
import '../assets/css/global.css';

export interface Props {
	title: string;
	metaTitle?: string;
	description?: string;
}

const props = Astro.props;
const lang = 'en';
const hostname = Astro.url.hostname;
const metaTitle = props?.metaTitle || props.title || 'Bytebase';
const metaDescription = props.description;
---
<!DOCTYPE html>
<html lang={lang}>
<head>
	<meta charset="UTF-8">
	{!hostname?.includes('bytebase.com') && <meta name="robots" content="noindex, nofollow" />}
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
	/>
	<title>{metaTitle}</title>
	<meta name="description" content={metaDescription} />
</head>
<body class="antialiased flex h-full flex-col">
	<div class="relative flex min-h-screen flex-col">
		<slot name="header">
			<header class="safe-paddings fixed left-0 right-0 top-0 z-30 h-auto w-full bg-white sm:z-50 shadow">
				<div class="top-banner relative z-20 text-black transition-colors duration-200 hover:opacity-90">banner</div>
				<div class="mx-auto container flex items-center py-[18px] md:justify-between md:py-[10px]">
					header
				</div>
			</header>
		</slot>
		<main class="relative z-20 shrink-0 grow basis-auto pt-[128px] md:pt-[112px]">
			<slot />
		</main>
		<slot name="footer">
			<footer class="mx-auto safe-paddings container relative z-10 shrink-0 pt-20 lg:pt-14 md:pt-12 xs:pt-10">
				<div class="grid grid-cols-10 gap-x-10 xl:gap-x-9 lg:gap-x-6 md:gap-x-7 sm:grid sm:grid-cols-4 sm:gap-x-4 sm:gap-y-14">
					footer 1
				</div>
				<div class="mt-[76px] grid grid-cols-12 gap-x-4 border-t-4 border-tones-purple-light py-6 lg:mt-[58px] lg:gap-x-6 md:mt-11 md:grid-rows-2 md:gap-x-5 md:gap-y-6 md:py-5 xs:mt-[34px] xs:grid-rows-4 xs:gap-x-0">
					footer bottom
				</div>
			</footer>
		</slot>
	</div>
	{hostname.includes('bytebase.com') && (
		<script>
			// @ts-ignore
			console.log('TODO: add analytics')
		</script>
	)}
</body>
</html>
